span{
    font-family:URW Chancery L, cursive;
    font-size:36px;
    font-style:italic;   
}
a{
    font-size:36px;  
}
.feed{
    position: relative;
    top: 150px;
}
.right{
    
        text-align: right;
        float: right;
        right: 0px;
    }
     .column{
         padding: 15px;
         padding-left: 10px;
         padding-right: 10px;
    } 
    .jumbotron{
        background: rgb(215, 220, 228);
        margin: auto;
        width: 100%;
        border: 3px solid gray;
        padding: 10px;
    }
    img{
        right: 10px;
    }
    .mr-2{ 
        padding-left: 10px;
        padding-right: 10px;
    }
